<template>

</template>


<script>
  export default {
    name: 'ActionSelect',
    data() {
      return {
        options: {},
        selected: {}
      }
    },
    methods: {
        select: function (item) {
            this.select = item
        }
    },
  };
</script>
