<template>
    <div>
        <button type='button' v-on:click="add()" class="btn btn-default">Add</button>
    </div>
</template>


<script>

  export default {
    props: ['action', 'item', 'view'],
    methods: {
        add: function() {
            this.$store.commit(this.action, this.item);
        },
    },
};
</script>
