<template>
    <div>
        <button type='button' v-on:click="back()" class="btn btn-default">Back</button>
    </div>
</template>


<script>

  export default {
    props: ['view'],
    methods: {
        back: function() {
            this.$router.push(-1);
        },
    },
};
</script>
