<template>

    <b-button v-on:click="cancel()" class="outline-warning">Cancel</b-button>

</template>


<script>
  export default {
    name: 'CancelButton',
    props: ['state', 'view'],
    methods: {
      cancel: function() {
        this.state = false;
      },
    },
  };
</script>
