<template>

    <button v-on:click="clear()" class="btn btn-default">Clear</button>

</template>


<script>
  export default {
    name: 'ClearButton',
    props: ['item', 'view'],
    methods: {
      clear: function() {
          this.item = {}
      },
    },
  };
</script>
