<template>
    
  <div class="modal-content">
    <div class="modal-header pd-x-20">

      <h5 class="modal-title">{{item.action}} {{item.payload.entity}}</h5>
      
    </div>
    <div class="modal-body pd-20">
      <h4 class=" lh-3 mg-b-20"><a href="" class="tx-inverse hover-primary">Are you sure?</a></h4>
    </div>
    <div class="modal-footer">
      <button v-on:click="confirm()" type="button" class="btn btn-primary">I am sure.</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</template>

<script>
export default {
    name: 'Confirmation',
    props: ['item'],
    methods: {
        confirm: function() {
            return this.$store.dispatch(this.item.action, this.item.payload);
        },
    }
}
</script>