<template>
    <div>
          <b-button v-on:click="create()" variant="default">
            Create New
        </b-button>
    </div>

</template>


<script>
  export default {
    name: 'CreateButton',
    props: ['item', 'view', 'entity'],
    methods: {
      create: function () {
        this.$router.push({path: this.entity + '/create'})
      }
    }
  };
</script>
