<template>
        <b-button v-on:click="confirm()" variant="outline-danger">Delete</b-button>
</template>


<script>

  export default {
    name: 'DeleteButton',
    props: ['item', 'view', 'entity'],
    methods: {
      confirm: function() {
          this.$store.commit(
            'setConfirmation', {action: 'delete', payload: {entity: this.entity, id: this.item.id}}
          );
          return this.$router.push({ path: '/confirm' });
      }
    },
    data: function() {
      return {
        action: 'delete',
        payload: {
          entity: this.entity,
          id: this.item.id
        }
      }
    }
};
</script>
