<template>
        <b-button v-on:click="edit()" variant="primary">Edit</b-button>
</template>


<script>
  export default {
    name: 'EditButton',
    props: ['item', 'view', 'entity'],
    methods: {
      edit: function() {
        return this.$router.push({ path: '/' + this.entity + '/edit/' + this.item.id });
      }
    }
  };
</script>
