<template>
    <div>
        <button type='button' v-on:click="remove()" class="btn btn-default">Remove</button>
    </div>
</template>


<script>

  export default {
    name: 'RemoveButton',
    props: ['action', 'item', 'view'],
    methods: {
        remove: function() {
            this.$store.commit(this.action, this.item);
        },
    },
};
</script>
