<template>

    <b-button v-on:click="save()" variant="outline-primary">Save</b-button>

</template>


<script>
  export default {
    props: ['item', 'view', 'entity'],
    methods: {
      save: function() {
        this.$store.dispatch('save', {
          entity: this.entity,
          payload: this.item
        });
      },
    },
  };
</script>
