<template>

    <button v-on:click="toggle()" class="btn btn-default">Toggle</button>

</template>


<script>
  export default {
    props: ['state', 'view'],
    data() {
      return {
        state: false,
        view: 'default'
      }
    },
    methods: {
      toggle: function() {
          this.state = !this.state;
      },
    },
  };
</script>
