<template>
  <div>
    <b-form-select v-model="selected" :options="options"></b-form-select>
    <div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
  </div>
</template>

<script>
  export default {
    props: ['items'],
    data() {
      return {
        selected: null,
        options: Object.values(this.items).map((i) => {return {value:i.id, text:i.name};})
      }
    }
  }
</script>