<template>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items" v-bind:key="item.id">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>
          <edit-button :item="item" entity='users' />
          <delete-button :item="item" entity="users" />
        </td>
      </tr>
    </tbody>
  </table>

</template>


<script>
import DeleteButton from '../Form/DeleteButton.vue';
import EditButton from '../Form/EditButton.vue';
  export default {
  components: { EditButton, DeleteButton },
    name: 'UserList',
    props: ['items'],
  };
</script>
