<template>
<div>

  <form>
    <div class="form-row">
      <div class="col">
        <label for="user-name">Name</label>
        <input v-model="item.name" type="text" name="user-name" class="form-control" placeholder="name">
      </div>
    </div>
    <div>
    </div>
    <div>

    </div>

  </form>
      <save-button :item="item" entity="users" />
      <delete-button :item="item" entity="users" />
</div>

</template>


<script>
import SaveButton from '../Form/SaveButton.vue';
  import DeleteButton from '../Form/DeleteButton.vue';

export default {
    name: 'UserForm',
    components: {
        SaveButton,
        DeleteButton
    },
    props: ['item'],
    data() {
      return {
        current: {},
      }
    }
  };
</script>
