<template>
  <confirmation :item='confirmation' />
</template>

<script>
import Confirmation from '../components/Form/Confirmation.vue';

  export default {
    components: {
        Confirmation
    },
    name: 'ConfirmationView',
    computed: {
      confirmation: function() {
        return this.$store.state.confirmation;
      }
    }
  };
</script>
