<template>
    <div>
        <notification v-for='item in items' v-bind:key="item.id" :item="item" />
    </div>
</template>

<script>
import Notification from '../components/Notification.vue';

  export default {
  components: { Notification },
    name: 'NotificationView',
    computed: {
        items: function() {
            return this.$store.state.notifications;
        },
    } 
  };
</script>
