<template>
    <div>
      <template v-if="!params.action">
        <button class="btn btn-default">
          <router-link to="/types/create" class="tx-bold tx-gray-dark">Create New Type</router-link>
        </button>
        <type-list :items="items" />
      </template>
      <template v-if="params.action === 'create'">
        <type-form :item="item" />
      </template>
      <template v-if="params.action === 'edit'">
        <type-form :item="item" />
      </template>
    </div>
</template>

<script>
  import TypeForm from '../components/Type/TypeForm.vue';
  import TypeList from '../components/Type/TypeList.vue';
import SaveButton from '../components/Form/SaveButton.vue';

  export default {
    components: {
      TypeForm,
      TypeList,
        SaveButton,
    },
    computed: {
      items: function () {
        return this.$store.state.types;
      },
    },
    data: function () {
      return {
        params: {
          action: null,
          id: null
        },
      }
    },
    watch: {
      $route: function (to, from) {
        this.params = to.params;
        if (this.params.id) {
          this.item = this.$store.state.types[this.params.id];
        } else {
          this.item = {
            id: null,
            name: "",
            app_id: 0,
            permissions: [{
              type_id: 0,
              action: 'READ'
            }],
          }        
        }
      },
    },
  };
</script>
