<template>
    <div>
      <template v-if="!params.action">
        <button class="btn btn-default">
          <router-link to="/users/create" class="tx-bold tx-gray-dark">Create New User</router-link>
        </button>
        <user-list :items="items" />
      </template>
      <template v-if="params.action === 'create'">
        <user-form :item="item" />
      </template>
      <template v-if="params.action === 'edit'">
        <user-form :item="item" />
      </template>
    </div>
</template>

<script>
  import UserForm from '../components/User/UserForm.vue';
  import UserList from '../components/User/UserList.vue';
import SaveButton from '../components/Form/SaveButton.vue';

  export default {
    components: {
      UserForm,
      UserList,
        SaveButton,
    },
    computed: {
      items: function () {
        return this.$store.state.roles;
      },
    },
    data: function () {
      return {
        params: {
          action: null,
          id: null
        },
      }
    },
    watch: {
      $route: function (to, from) {
        this.params = to.params;
        if (this.params.id) {
          this.item = this.$store.state.users[this.params.id];
        } else {
          this.item = {
            id: null,
            name: "",
            app_id: 0,
            permissions: [{
              type_id: 0,
              action: 'READ'
            }],
          }        
        }
      },
    },
  };
</script>
