<template>
        <a href="" class="d-block hover-bg-gray-lightest pd-x-25 pd-y-8">
          <div class="d-flex justify-content-between align-items-center">
            <div class="media align-items-center">
              <div class="media-body tx-gray">{{item.notification}}</div>
            </div><!-- media -->
            <span :class="'square-8 bg-' + item.status + ' rounded-circle'"></span>
          </div>
        </a>
</template>

<script>
  export default {
    name: 'Notification',
    props: ['item'],
  };
</script>
