<template>
<div>

  <form>
    <div class="form-row">
      <div class="col">
        <label for="type-name">Name</label>
        <parent-select />
      </div>
    </div>
  </form>
      <add-button :item="item" action="addParent" />
</div>
</template>


<script>
import AddButton from '../Form/AddButton.vue';
import ParentSelect from '../Form/ParentSelect.vue';

export default {
  components: { AddButton, ParentSelect },
  data() {
      return {
          item: {},
      }
  },
};
</script>
