<template>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th>Type</th>
        <th>Property</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items" v-bind:key="item.id">
        <th scope="row">{{item.id}}</th>
        <td>{{item.type.name}}</td>
        <td>{{item.action}} </td>
        <td><remove-button action='removeProperty' :item='item' /></td>
      </tr>
    </tbody>
  </table>
</template>


<script>
import RemoveButton from '../Form/RemoveButton.vue';

export default {
  components: { RemoveButton },
  name: 'PropertyList',
  props: ['items'],
};
</script>
