<template>
<div>

  <form>
    <div class="form-row">
      <div class="col">
        <label for="type-name">Name</label>
        <property-select />
      </div>
    </div>
  </form>
      <add-button :item="item" action="addProperty" />
</div>
</template>


<script>
import AddButton from '../Form/AddButton.vue';
import PropertySelect from '../Form/PropertySelect.vue';

export default {
  components: { AddButton, PropertySelect },
  data() {
      return {
          item: {},
      }
  },
};
</script>
