<template>
<div>

  <form>
    <div class="form-row">
      <div class="col">
        <label for="type-name">Name</label>
        <type-select />
        <type-select />
      </div>
    </div>
  </form>
      <add-button :item="item" action="addRelationship" />
</div>
</template>


<script>
import AddButton from '../Form/AddButton.vue';
import TypeSelect from '../Form/TypeSelect.vue';

export default {
  components: { AddButton, TypeSelect },
  data() {
      return {
          item: {},
      }
  },
};
</script>
