<template>
<div>

  <form>
    <div class="form-row">
      <div class="col">
        <label for="type-name">Name</label>
        <status-select :items="statuses" />
      </div>
    </div>
  </form>
      <add-button :item="item" action="addStatus" />
</div>
</template>


<script>
import AddButton from '../Form/AddButton.vue';
import StatusSelect from '../Form/StatusSelect.vue';

export default {
  components: { AddButton, StatusSelect },
  data() {
      return {
          item: {},
      }
  },
};
</script>
