<template>
<div>

  <form>
    <div class="form-row">
      <div class="col">
        <label for="type-name">Name</label>
        <input v-model="item.name" type="text" name="type-name" class="form-control" placeholder="name">
      </div>
    </div>
      <property-list :items='item.properties' />
      <status-list :items='item.allowedStatuses' />
      <parent-list :items='item.allowedParents' />
      <relationship-list :items='item.relationships' />
  </form>
      <save-button :item="item" entity="types" />
      <delete-button :item="item" entity="types" />
</div>

</template>


<script>
import RelationshipList from './RelationshipList.vue';
import ParentList from './ParentList.vue';
import StatusList from './StatusList.vue';
import PropertyList from './PropertyList.vue';
import SaveButton from '../Form/SaveButton.vue';
import DeleteButton from '../Form/DeleteButton.vue';

export default {
    name: 'TypeForm',
    components: {
      RelationshipList,
      ParentList,
      StatusList,
      PropertyList,
      SaveButton,
      DeleteButton
    },
    props: ['item'],
    data() {
      return {
        current: {},
      }
    }
  };
</script>
