<template>
<div>

  <form>
    <div class="form-row">
      <div class="col">
        <label for="type-name">Name</label>
        <permission-select />
      </div>
    </div>
  </form>
  <add-button :item="item" action="addPermission" />
</div>
</template>


<script>
import AddButton from '../Form/AddButton.vue';
import PermissionSelect from '../Form/PermissionSelect.vue';

export default {
  components: { AddButton, PermissionSelect },
  data() {
      return {
          item: {},
      }
  },
};
</script>
