<template>
  <div id="app">
        <nav-bar/>
<b-container class="bv-example-row" v-if="$store.state.loading">
  <b-row>
    <b-col>
      <router-view/>
    </b-col>
  </b-row>
</b-container>

  </div>
</template>

<script>
  import NavBar from './components/NavBar.vue';

  export default {
    components: {
      NavBar,
    },
    name: 'App',
    computed: {
      apps: function () {
        return this.$store.state.apps
      },
    },
    created() {
      this.$store.dispatch('init');
      this.$router.push({path: '/'});
    }
  };
</script>
